.news
	.news__container 
		.news__actual 
			.news__title актуальное
			a(href='#').news__item.item-news
				figure
					.item-news__title заголовок новости  
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').news__item.item-news
				figure
					.item-news__title название опроса / сроки опроса в заголовке  
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального. Пройти опрос
		.news__massages 
			.news__title лента
			a(href='#').news__item.item-news
				figure
					.item-news__date 
						span 24.05.2022
						span 11:35
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').news__item.item-news
				figure
					.item-news__date 
						span 24.05.2022
						span 12:23
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').news__item.item-news
				figure
					.item-news__date 
						span 24.05.2022
						span 17:32
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').news__item.item-news
				figure
					.item-news__date 
						span 24.05.2022
						span 16:48
					.item-news__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
