footer.footer
	.footer__container
		.footer__left
			span © Иванян и партнеры 2022  / Корпоративный портал бюро
		.footer__right
			.footer-contacts
				.footer-contact
					.footer-contact__city Москва:
					a.footer-contact__phone(href="tel:+74956470046") +7 495 647 0046
					a.footer-contact__email(href="mailto:reception.mos@iplf.ru") reception.mos@iplf.ru
				.footer-contact
					.footer-contact__city Санкт-Петербург:
					a.footer-contact__phone(href="tel:+78126470046") +7 812 647 0046
					a.footer-contact__email(href="mailto:reception.spb@iplf.ru") reception.spb@iplf.ru